h1.mb-4{
    text-align: center;
}
body {
    background-color: #f7f9f7; /* Light background */
}
.form-container {
    background-color: #e7f1f8; /* Light blue background for the form */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 50px auto;
}
h1 {
    color:cadetblue;
    text-shadow: #0000cc 0 0 1px/* Darker shade for headings */
}
.btn-primary {
    background-color: #a0d68b; /* Light green button */
    border-color: #8dcf7f; /* Slightly darker green border */
}
.btn-primary:hover {
    background-color: #8dcf7f; /* Darker green on hover */
}