<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Patient</title>
</head>
<body>
<form th:action="@{/patients/add}" th:object="${patient}" method="post">
    <label for="firstName">First Name: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/><br/>

    <label for="lastName">Last Name:</label>
    <input type="text" th:field="*{lastName}" id="lastName" /><br/>

    <label for="patient_id">Patient ID(P0000):</label>
    <input type="text" th:field="*{patientId}" id="patient_id" /><br/>

    <label for="age">Age:</label>
    <input type="number" th:field="*{age}" id="age" /><br/>

    <label for="gender">Gender:</label>
    <select th:field="*{gender}" id="gender">
        <option th:value="MALE">Male</option>
        <option th:value="FEMALE">Female</option>
    </select><br>

    <label for="admissionDate">Admission Date:</label>
    <input type="date" th:field="*{admissionDate}" id="admissionDate" /><br/>

    <label for="billing_amount">Billing amount:</label>
    <input type="number" th:field="*{billingAmount}" id="billing_amount" /><br/>

    <button type="submit">Add Patient</button>

</form>

</body>
</html>