<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Session history</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
          th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" th:href="@{/static/style.css}" href="/static/style.css">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container mt-5">
    <h1 class="mb-4">Session History</h1>

    <table class="table table-striped table-hover" id="session-history-table">
        <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Page Visited</th>
            <th scope="col">Timestamp</th>
        </tr>
        </thead>
        <tbody id="session-history-body">
        <tr th:each="entry, iterStat : ${visitHistory}">
            <td th:text="${iterStat.index + 1}"></td>
            <td th:text="${entry['page']}"></td>
            <td th:text="${entry['timestamp']}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>